[submodule "eip-1271/contracts/lib/forge-std"]
	path = eip-1271/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "custom-auth-telegram-example"]
	path = custom-auth-telegram-example
	url = https://github.com/LIT-Protocol/custom-auth-telegram-example.git
[submodule "evm-evm-swap"]
	path = evm-evm-swap
	url = https://github.com/LIT-Protocol/evm-evm-swap-example
[submodule "telegram-miniapp-example"]
	path = telegram-miniapp-example
	url = https://github.com/LIT-Protocol/telegram-miniapp-example.git
[submodule "btc-evm-swap"]
	path = btc-evm-swap
	url = https://github.com/LIT-Protocol/btc-evm-swap-example
[submodule "custom-auth-github-example"]
	path = custom-auth-github-example
	url = https://github.com/LIT-Protocol/custom-auth-github-example.git
