[submodule "custom-auth-telegram-example"]
	path = custom-auth-telegram-example
	url = https://github.com/LIT-Protocol/custom-auth-telegram-example.git
[submodule "evm-evm-swap"]
	path = evm-swap-example
	url = https://github.com/LIT-Protocol/evm-swap-example.git
[submodule "telegram-miniapp-example"]
	path = telegram-miniapp-example
	url = https://github.com/LIT-Protocol/telegram-miniapp-example.git
[submodule "btc-evm-swap"]
	path = btc-evm-swap
	url = https://github.com/LIT-Protocol/btc-evm-swap-example
