LIT_NETWORK=datil-test
LIT_FROM_NETWORK=cayenne
LIT_TO_NETWORK=datil-dev
ADD_PKP_ETH_ADDRESS_AS_PERMITTED_ADDRESS=false
SEND_PKP_TO_ITSELF=false
LIT_PKP_PUBLIC_KEY=
LIT_CAPACITY_CREDIT_TOKEN_ID=
CHAIN_TO_SEND_TX_ON=yellowstone

# private secrets
SOLANA_PRIVATE_KEY=
ETHEREUM_PRIVATE_KEY=
LIT_RELAYER_API_KEY=
LIT_PAYER_SECRET_KEY=